{% extends 'admin/admin.html.twig' %}

{% block title "contact : " ~ contact.subject %}

{% block body %}
<div class="container">
<h1>Demande de {{ contact.fullName }}</h1>
<p>Email : {{ contact.email }}</p>
<p>Sujet : {{ contact.subject }}</p>
<p>Message :</p>
<div>
{{ contact.message | raw }}
</div>
        
<img class="img-fluid"  src="{{ vich_uploader_asset(contact, 'featuredImageFile') }}" alt="photo de l'envoyant">
   
</div>
{% endblock %}